<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="style.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bargain Land</title>
    </head>

    <body>
        <div class="grid-container">
            <header class="header">
                <div class="brand">

                    <a href="index.html"> <img class="logo" src="../Images/Bargain_Land_Logo.png" alt="Bargain land logo">
                    </a>

                    <button class="brand-button" onclick="openMenu()">
                        &#9776;
                    </button>
                </div>

                <div class="header-links">
                    <a href="cart.html">Cart</a>
                    <a href="signin.html">Sign In</a>
                </div>
                
            </header>

            <!-- Side menu -->
            <aside class="sidebar">
                <h3>Shopping Categories</h3>
                <button class="sidebar-close-button" onclick="closeMenu()">x</button>
                <ul>
                    <li href="index.html">Pants</li>
                    <li href="">T-shirts</li>
                    <li></li>
                </ul>
            </aside>

            <!-- ------------------ MAIN STARTS HERE------------------  -->
            <main class="main">
                <div class="content">
                    <ul class="products">
                        <li>
                            <div class="product">
                                <img class="product-image" src="../Images/t1.JPG" alt="product1">
                                <div class="product-name">
                                    <a href="product.html">Slim T-shirt</a>
                                </div>
                                <div class="product-brand">Nike</div>
                                <div class="product-price">$60</div>
                                <div class="product-rating">4.5 stars (10 reviews)</div>

                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-image" src="../Images/t2.JPG" alt="product1">
                                <div class="product-name">
                                    <a href="product.html">Slim T-shirt</a>
                                </div>
                                <div class="product-brand">Nike</div>
                                <div class="product-price">$60</div>
                                <div class="product-rating">4.5 stars (10 reviews)</div>

                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-image" src="../Images/t3.JPG" alt="product1">
                                <div class="product-name">
                                    <a href="product.html">Slim T-shirt</a>
                                </div>
                                <div class="product-brand">Nike</div>
                                <div class="product-price">$60</div>
                                <div class="product-rating">4.5 stars (10 reviews)</div>

                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-image" src="../Images/t4.JPG" alt="product1">
                                <div class="product-name">
                                    <a href="product.html">Slim T-shirt</a>
                                </div>
                                <div class="product-brand">Nike</div>
                                <div class="product-price">$60</div>
                                <div class="product-rating">4.5 stars (10 reviews)</div>

                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-image" src="../Images/t5.JPG" alt="product1">
                                <div class="product-name">
                                    <a href="product.html">Slim T-shirt</a>
                                </div>
                                <div class="product-brand">Nike</div>
                                <div class="product-price">$60</div>
                                <div class="product-rating">4.5 stars (10 reviews)</div>

                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-image" src="../Images/t6.JPG" alt="product1">
                                <div class="product-name">
                                    <a href="product.html">Slim T-shirt</a>
                                </div>
                                <div class="product-brand">Nike</div>
                                <div class="product-price">$60</div>
                                <div class="product-rating">4.5 stars (10 reviews)</div>

                            </div>
                        </li>




                    </ul>
                </div>
            </main>

            <footer class="footer">
                All rights reserved. Caroline Ho ©.
            </footer>
        </div>

        <script>
            function openMenu() {
                document.querySelector('.sidebar').classList.add('open');
            }

            function closeMenu() {
                document.querySelector(".sidebar").classList.remove('open');
            }
        </script>
        
    </body>
</html>